h2{
	font-family: 'Finger Paint', cursive;
	font-size: 2em;
	margin-bottom: -20px;
	margin-top: -50px;
	}

body{
background: url("../img/heart1.jpg")center fixed no-repeat rgba(0,0,0,1);
background-size: cover;
color: rgba(255,255,255,1);
	margin-right: 10%;
	margin-left: 10%;
}


h3{
	font-family: 'Finger Paint', cursive;
	font-size: 3em;
	margin-top: 30px;
	background-color: rgba(0,0,0,0);
	}
p{
	background-color: rgba(0,0,0,.6);
	font-family: 'Averia Sans Libre', cursive;
	font-size: 1.75em;
}

.container{
	font-size: 8em;
}

.container1{
	margin-top: 15px;
	margin-bottom: 50px;
}

em{
	font-family: 'Playfair Display', serif;

	/*font-size: 1.25em;*/
	font-weight: bolder;
}

.redtext{
	color: #FF8B8B;
}

.greentext{
	color: #99D491;
}

.yellowtext{
	color: #F5F097;
}

.bluetext{
	color: #A0D7F3;
}

.purpletext{
	color: #ECB3F2;
}

.orangetext{
	color: #FEC986;
}

.pinktext{
	color: #FE96B4;
}

.turqtext{
	color: #9DFFE7;
}

ul {
    width: 80%;
    padding: 5%;
    margin: 0px auto 0px auto;
/*    border-top: 2px solid #000;
    border-bottom: 1px solid #000;*/
    text-align: center;
    /*background-color: rgba(89,46,57,.7);*/
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
    color: rgba(194,206,229,1)
    background-color: rgba(0,0,0,.7);
}

li {
    display: inline;
    font-size: 1.8em;
    margin: 0px 13px;}

a:link {
    color: rgba(250,250,250,1);}
a:visited{
    color: rgba(250,250,250,1);}
a:hover {
    color: rgba(250,250,250,1);}
a:link {
    text-decoration: none;}
a:visited {
    text-decoration: none;}
a:hover {
    text-decoration: none;}
a:active {
    text-decoration: none;}
a:link {
    background-color: none;}
a:visited {
    background-color: none;}
a:hover {
    background-color: rgba(29,54,48,.8);}
a:active {
